---
import siteLogo from "../images/icon.jpg";
import { ViewTransitions } from "astro:transitions";

import "@fontsource/ubuntu/400.css";
import "@fontsource/ubuntu/500.css";
import "@fontsource/ubuntu/700.css";

import NavBar from "../components/NavBar.astro";
import Footer from "../components/Footer.astro";

interface PageProps {
	title: string;
	description?: string;
	hideTitle?: boolean;
}

interface Props extends PageProps {
	frontmatter?: PageProps;
}

const { title, description, hideTitle } =
	Astro.props.frontmatter || Astro.props;

const DEFAULT_DESCRIPTION =
	"Hey! I'm Joe! I'm a Software & DevOps Engineer based in the UK, Co-Founder of Python Discord and a Fellow of the Python Software Foundation.";
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta
			name="description"
			content={description ? description : DEFAULT_DESCRIPTION}
		/>
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.ico" />
		<meta name="generator" content={Astro.generator} />
		<meta name="twitter:creator" content="@JoeBanksDev" />
		<meta name="og:image" content={siteLogo.src} />
		<meta name="twitter:image" content={`https://jb3.dev${siteLogo.src}`} />
		<meta name="twitter:card" content="summary" />
		<meta name="twitter:site" content="@JoeBanksDev" />
		<meta
			name="twitter:description"
			content={description ? description : DEFAULT_DESCRIPTION}
		/>
		<meta name="theme-color" content="#616283" />
		<meta name="og:title" content={`${title} • Joe Banks`} />
		<title>{title} • Joe Banks</title>
		<ViewTransitions />
	</head>
	<body>
		<NavBar />

		<main>
			{hideTitle ? null : <h1 class="page-header">{title}</h1>}

			<slot />
		</main>

		<div class="body-sep"></div>

		<Footer />

		<style is:global>
			:root {
				--link-active: #0070f3;
				--link-hover: #6089d6;
				--dimmed: #757575;
				--primary: #111;
				--bg: #fff;
				--code-background: #dddddd;
			}

			@media (prefers-color-scheme: dark) {
				:root {
					--primary: #fff;
					--bg: #111;
					--link-active: #7998ff;
					--link-hover: #a8c8e6;
					--dimmed: #999999;
					--code-background: #4e4e4e;
				}
			}

			html {
				font-family: "Ubuntu", sans-serif;
				color: var(--primary);
				background-color: var(--bg);

				margin: 0;
				margin-left: auto;
				margin-right: auto;
				padding-left: 1rem;
				padding-right: 1rem;
				max-width: 70rem;

				line-height: 1.3;
			}

			pre,
			code {
				font-family: "Ubuntu Mono", monospace;
			}

			code:not(.commit-sha) {
				background-color: var(--code-background);
				padding: 0.1em;
				border-radius: 5px;
				text-decoration: none;
			}

			a:has(> code) {
				text-decoration: none;
				border-bottom: none;
			}

			body {
				display: flex;
				flex-direction: column;
				min-height: 100vh;
				margin: 0;
			}

			a {
				color: var(--link-active);
				text-decoration: none;
				border-bottom: 2px dotted var(--link-active);
			}

			a:hover {
				color: var(--link-hover);
				border-bottom-color: var(--link-hover);
			}

			.page-header {
				font-size: 3rem;
				margin-top: 0;
				margin-bottom: 0.25em;
			}

			.body-sep {
				flex-grow: 1;
			}

			a:has(> span.icon-link) {
				text-decoration: none;
				border-bottom: none;
			}

			*:hover > a > span.icon-link {
				opacity: 1;
			}

			span.icon-link {
				opacity: 0;
				margin-left: 10px;
				text-decoration: none;
			}

			span.icon-link::before {
				content: "#";
			}

			img:not(.nav-icon) {
				max-width: 100%;
				height: auto;

				border-radius: 0.5rem;
				box-shadow: 0 0 0 2px var(--dimmed);

				margin-top: 1rem;
				margin-bottom: 1rem;
			}
		</style>
	</body>
</html>
