---
import Layout from "./Layout.astro";

const { title, date, link, description, noindex } = Astro.props;
---

<Layout title={title} description={description} noindex={noindex}>
    <span>{date} &bull; <a href={link}>{link}</a></span>

    <slot />
</Layout>

<style>
    span {
        color: var(--dimmed);
    }
</style>
